# Boston_housing
* Train : test 비율 70 대 30
* 0:13 인데스를 피쳐값으로 두기
* 13을 label
* LinearRegression을 통해서 accuracy구하기
------------------------------------------------------------
* Train : test = 70:30
* 0:13 => feature값으로하고
* 13 => label
* Feature Scaling 을 한후
* LinearRegression을활용하여 MSE
---------------------------------------------------------------
* Train : test = 70:30
* 0:13 => feature값으로하고
* 13 => label
* random  forest 또는 XGB를 활용하여 적정한 feature_select한후 
* LinearRegression을 활용하여 MSE

In [271]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [272]:
boston_house= pd.read_csv('C:/Users/jangd/OneDrive/바탕 화면/python/ml/data_sets/boston_housing.csv')
boston_house

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [273]:
dt_bost=LinearRegression()

In [274]:
y=boston_house.iloc[:,-1]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [275]:
X_features=boston_house.columns
X_features

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [276]:
X=boston_house.drop(['MEDV'],axis=1)
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88

In [277]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                    test_size=0.3, random_state=156)
# y_train = y_train.apply(lambda x : round(x)) # 추가 부분
# y_test = y_test.apply(lambda x : round(x))   # 추가 부분

In [278]:
boston_house.isnull().sum() # 결측치 확인

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
B          0
LSTAT      0
MEDV       0
dtype: int64

In [279]:

dt_bost.fit(X_train, y_train) # 타입이 float이라 안됐었음

LinearRegression()

In [280]:
import sys 
sys.path.append('C:/Users/jangd/OneDrive/바탕 화면/python/ml/module')

In [281]:
import f1_score_roc_auc as fsr
from sklearn.metrics import accuracy_score

In [282]:
pred=dt_bost.predict(X_test)
pred

array([23.15424087, 19.65590246, 36.42005168, 19.96705124, 32.40150641,
       17.66341192, 30.32844101, 17.8513932 , 10.86187069, 12.83177966,
       21.18350434, 16.41212257, 28.66817527, 37.01110952, 23.42172197,
       24.56906089, 14.55434775, 11.51023436, 30.27784089, 23.48027467,
       22.86210577, 17.61623753, 21.2528808 , 17.29802868, 34.06118291,
        7.19879841, 13.39928425, 19.4234468 , 13.2423286 ,  8.3336837 ,
       29.34933073, 11.83768837, 19.84125562, 23.97623235, 16.34351261,
       13.20973749, 14.3352014 , 17.26323753, 17.37091562, 23.84644351,
       32.8390912 ,  9.3866759 , 19.06694335, -3.98840206, 19.87721947,
       21.26003361, 24.17775745, 35.35923599, 20.32415303, 28.23212889,
       32.67560962, 40.83910565, 41.19126206, 19.78588457, 25.0134137 ,
       24.13111046, 19.62715719, 33.49344219, 23.61402811, 15.31513017,
       22.70657074, 25.78436589, 23.99723589,  8.78013424, 21.81929237,
       39.68193998, 32.8907251 , 30.20417723, 14.35610647, 23.56129992,
       13.6987184 , 32.17099211, 36.43647957, 27.41243794, 21.43887413,
       29.94548936, 20.80737308, 26.76489459, 23.19924205, 18.7295963 ,
       30.4434358 , 17.92366103, 19.96350973, 22.90321583, 30.35722286,
       19.1416058 , 34.82981423, 35.95421976, 21.08435113, 28.16227294,
       33.9844885 , 13.09683348, 25.83254741, 28.31598334, 24.09461934,
       26.53533695, 13.78463019, 27.52845855, 30.96700768, 22.15390363,
       27.52458794, 20.92341491, 12.20099558, 16.86757413, 23.1869979 ,
       25.27201058, 24.87600819, 29.56220534, 14.39300773, 23.74503763,
       23.00928065, 27.59611128, 14.63924951, 19.88668982, 20.77437658,
       36.65236819, 24.34502539, 11.00066258, 17.85805638, 31.97402161,
       31.8757576 , 23.05268046, 27.47026659, 34.21658142, 21.45953092,
       25.732922  ,  8.82822141, 16.45252491, 24.54156705, 30.71990499,
       20.78378788, 19.29671324, 34.96155332, 20.95681683, 35.98751661,
       22.43270522, 19.44758239, 18.41029637, 19.11220591, 23.80294646,
       23.17652339, 19.34566115, 14.73400581, 15.68343526, 35.65243238,
       21.07768237, 29.71070004, 21.10104869, 24.5559244 , 24.09374799,
       18.47882862, 31.83335094])

In [283]:
y_test

210    21.7
15     19.9
264    36.5
396    12.5
234    29.0
       ...
393    13.8
325    24.6
53     23.4
401     7.2
178    29.9
Name: MEDV, Length: 152, dtype: float64

In [284]:
# accuracy_score(y_test,pred) # classification에서만 사용됨 따라서 linear에서는 score함수 사용해줘야함
dt_bost_accuracy=dt_bost.score(X_train,y_train)
dt_bost_accuracy_test=dt_bost.score(X_test,y_test)

In [285]:
print(f'훈련데이터 정확도 : {dt_bost_accuracy}\n테스트데이터 정확도 : {dt_bost_accuracy_test}')

훈련데이터 정확도 : 0.7273505005599823
테스트데이터 정확도 : 0.7572263323138935

In [286]:
pred=dt_bost.predict(X_test)

In [287]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
mse= mean_squared_error(y_test,pred)

mae=mean_absolute_error(y_test,pred)

In [288]:
print(f'MSE 값:{mse}\n MAE 값:{mae}')

MSE 값:17.296915907902054
 MAE 값:3.213668344124455